.icon-main_gtzz{
    background:url('../img/icon/xs_main_gtzz.png') no-repeat center center;
}
.icon-main_pkdc{
    background:url('../img/icon/xs_main_pkdc.png') no-repeat center center;
}
.icon-main_sjcl{
    background:url('../img/icon/xs_main_sjcl.png') no-repeat center center;
}
.icon-main_tjfx{
    background:url('../img/icon/xs_main_tjfx.png') no-repeat center center;
}
.icon-main_position{
    background:url('../img/icon/xs_main_marker.png') no-repeat center center;
}
.xs_pkdc_chart{
    background:url('../img/icon/xs_pkdc_chart.png') no-repeat center center;
}
.xs_pkdc_money{
    background:url('../img/icon/xs_pkdc_money.png') no-repeat center center;
}
.xs_pkdc_task{
    background:url('../img/icon/xs_pkdc_task.png') no-repeat center center;
}

.xs_pkdc_family{
    background:url('../img/icon/xs_pkjc_family.png') no-repeat center center;
}

.xs_poor_rotate{
    background:url('../img/icon/xs_main_poor_rotate_mini.png') no-repeat center center;
}

.xs_fpbq_family_min{
    background:url('../img/icon/xs_pkjc_family_min.png') no-repeat center center;
}