body {
    color: #00FF00;
    color: #1bff83;
    color : #3ff3ff;
    color : #238aff;
    color : #932eff;
    color : #bdff3b;
    color : #ffee2f;
    color : #ffb24a;
    color : #ff4341;
    color : #FF0000;
}

/*{
start: 0,
end: 0.5,
style:{
    color: '#00FF00'
}
},
{
start: 0.5,
end: 5,
style:{
    color: '#52FF35'
}
},
{
start: 5,
end: 10,
style:{
    color: '#9FFF54'
}
},
{
start: 10,
end: 15,
style:{
    color: '#C7FF63'
}
},
{
start: 15,
end: 20,
style:{
    color: '#F3FF78'
}
},
{
start: 20,
end: 25,
style:{
    color: '#FFDF7A'
}
},
{
start: 25,
end: 30,
style:{
    color: '#FFB76C'
}
},
{
start: 30,
end: 35,
style:{
    color: '#FF925D'
}
},
{
start: 35,
end: 40,
style:{
    color: '#FF5234'
}
},
{
start: 40,
end: 1000,
style:{
    color: '#FF0000'
}
}*/
