<style>
    #xs_tjfx_tooltabs .tabs-inner{
        width: 31px;
    }
</style>

<div id="xs_tjfx_tooltabs" class="easyui-tabs" data-options="'tabPosition':'top'" style="height: 500px;">
    <div title="县统计">
        <div style="padding:10px 51px 0px 10px;">
            <div style="width: 220px; height: 1px;"></div>
        </div>
        <div style="padding:4px 10px 5px 10px;">
            <a href="javascript:0;" onclick="XS.Main.Tjfx.range(XS.Main.Tjfx.level_type.county);" class="easyui-linkbutton" data-options="" style="width:120px;">脱贫率</a>
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">贫困户</a>
        </div>
        <div style="padding:0px 10px 5px 10px;">
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">贫困人口</a>
        </div>
    </div>
    <div title="乡统计">
        <div style="padding:10px 51px 0px 10px;">
            <div style="width: 220px; height: 1px;"></div>
        </div>
        <div style="padding:4px 10px 5px 10px;">
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">贫困户</a>
        </div>
        <div style="padding:0px 10px 5px 10px;">
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">贫困人口</a>
        </div>
    </div>
    <div title="村统计">
        <div style="padding:10px 51px 0px 10px;">
            <div style="width: 220px; height: 1px;"></div>
        </div>
        <div style="padding:4px 10px 5px 10px;">
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">脱贫率</a>
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">四有五覆盖</a>
        </div>
    </div>
    <div title="贫困户">
        <div style="padding:10px 51px 0px 10px;">
            <div style="width: 220px; height: 1px;"></div>
        </div>
        <div style="padding:4px 10px 5px 10px;">
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">四有五覆盖</a>
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">五通四有</a>
        </div>
    </div>
    <div title="其他">
        <div style="padding:10px 51px 0px 10px;">
            <div style="width: 220px; height: 1px;"></div>
        </div>
        <div style="padding:4px 10px 5px 10px;">
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">投入成效</a>
            <a href="javascript:0;" class="easyui-linkbutton" data-options="" style="width:120px;">扶贫计划时间进度</a>
        </div>
    </div>
</div>
